
@model Laceshop.Website.Code.Models.Checkout.PaymentPageViewModel
@using System.Globalization
@using System.Web.Mvc.Html
@using Laceshop.Website.Code.Controllers.Checkout
@using Umbraco.Web

	@Html.AntiForgeryToken()
	@Html.ValidationSummary()
    <div>
        <form id="formQuickPay" method="POST" action="https://payment.quickpay.net">
            <input type="hidden" name="version" value="v10">
            <input type="hidden" name="merchant_id" value="@Model.QuickPayModel.MerchantId">
            <input type="hidden" name="agreement_id" value="@Model.QuickPayModel.AgreementId">
            <input type="hidden" name="order_id" value="@Model.QuickPayModel.OrderId">
            <input type="hidden" name="amount" value="@Model.QuickPayModel.Amount">
            <input type="hidden" name="currency" value="@Model.QuickPayModel.Currency">
            <input type="hidden" name="continueurl" value="@Model.QuickPayModel.ContinueUrl">
            <input type="hidden" name="cancelurl" value="@Model.QuickPayModel.CancelUrl">
            <input type="hidden" name="callbackurl" value="@Model.QuickPayModel.CallbackUrl">
            <input type="hidden" name="checksum" value="@Model.QuickPayModel.Checksum">
            <input type="hidden" name="language" value="da">
            <input type="hidden" name="autocapture" value="0">
            <input type="submit" value="Continue to QuickPay">
        </form>
    </div>
@Html.Partial("Partials/_Order", Model.Order)
