
@*@using Laceshop.Website.Code.Controllers.Checkout
@model Laceshop.Website.Code.Models.Checkout.PaymentPageViewModel
    Layout = "Shared/_Layout.cshtml";
}

@Html.Action("Breadcrumb", "Navigation")
<hr />
<h1>@Model.MainHeading</h1>
@using (Html.BeginUmbracoForm<PaymentPageController>
    ("SelectPayment", FormMethod.Post, new { id = "select-payment-type-form" }))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div>
        @Html.LabelFor(m => m.SelectedPaymentMethod)
        @Html.DropDownListFor(m => m.SelectedPaymentMethod, Model.PaymentMethods, "Please select...")
        @Html.ValidationMessageFor(m => m.SelectedPaymentMethod)
    </div>
    <div id="card-details">
        <div>
            @Html.LabelFor(m => m.CardDetail.Number) <span>For test: 5555555555554444</span>
            @Html.EditorFor(m => m.CardDetail.Number)
            @Html.ValidationMessageFor(m => m.CardDetail.Number)
        </div>
        <div>
            @Html.LabelFor(m => m.CardDetail.CVV)
            @Html.EditorFor(m => m.CardDetail.CVV)
            @Html.ValidationMessageFor(m => m.CardDetail.CVV)
        </div>
        <div>
            @Html.LabelFor(m => m.CardDetail.ExpiryMonth)
            @Html.EditorFor(m => m.CardDetail.ExpiryMonth)
            @Html.ValidationMessageFor(m => m.CardDetail.ExpiryMonth)
        </div>
        <div>
            @Html.LabelFor(m => m.CardDetail.ExpiryYear)
            @Html.EditorFor(m => m.CardDetail.ExpiryYear)
            @Html.ValidationMessageFor(m => m.CardDetail.ExpiryYear)
        </div>
    </div>
    <input type="submit" value="Submit" />
    }

@Html.Action("RenderBraintreeSetupJs", "BraintreeStandardTransaction", new { area = "Bazaar" })*@

@model Laceshop.Website.Code.Models.Checkout.PaymentPageViewModel
@using System.Globalization
@using System.Web.Mvc.Html
@using Laceshop.Website.Code.Controllers.Checkout
@using Umbraco.Web

	@Html.AntiForgeryToken()
	@Html.ValidationSummary()
    <div>
        <form id="formQuickPay" method="POST" action="https://payment.quickpay.net">
            <input type="hidden" name="version" value="v10">
            <input type="hidden" name="merchant_id" value="@Model.QuickPayModel.MerchantId">
            <input type="hidden" name="agreement_id" value="@Model.QuickPayModel.AgreementId">
            <input type="hidden" name="order_id" value="@Model.QuickPayModel.OrderId">
            <input type="hidden" name="amount" value="@Model.QuickPayModel.Amount">
            <input type="hidden" name="currency" value="@Model.QuickPayModel.Currency">
            <input type="hidden" name="continueurl" value="@Model.QuickPayModel.ContinueUrl">
            <input type="hidden" name="cancelurl" value="@Model.QuickPayModel.CancelUrl">
            <input type="hidden" name="callbackurl" value="@Model.QuickPayModel.CallbackUrl">
            <input type="hidden" name="checksum" value="@Model.QuickPayModel.Checksum">
            <input type="hidden" name="language" value="en">
            <input type="hidden" name="autocapture" value="0">
            <input type="submit" value="Continue to QuickPay">
        </form>
    </div>


	@Html.HiddenFor(x => x.ShipMethodKey, new { @class = "selected-shipmethod-key" })
	@Html.HiddenFor(x => x.PaymentMethodKey, new { @class = "selected-paymentmethod-key" })
	@Html.HiddenFor(x => x.CustomerToken, new { @id = "customer-token" })
	@Html.HiddenFor(x => x.ReceiptPageId)
	<div class="control-group">
		<button type="submit" class="btn btn-primary">Confirm Sale</button>
	</div>

@*@Html.Action("RenderBraintreeSetupJs", "BraintreeStandardTransaction", new { area = "Bazaar" })*@


@Html.Partial("Partials/_Basket", Model.Basket)
