@using Laceshop.Models.Products
@using Laceshop.Website.Code.Controllers.Basket
@using Laceshop.Website.Code.Models.Products
@model  Laceshop.Website.Code.Controllers.Products.ProductsViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}
@Model.Name

@*  for this page, get all visible children in Umbraco content tree *@

@foreach (ProductPageTeaser contentProduct in Model.Products)
{
    //@GetProductInfo(contentProduct)

    // info from Umbraco
    var contentidForChildPage = contentProduct.Id;


    // build model to hand to controller used in BuyButton.cshtml
    var productitemmodel = new AddItemModel()

    {
        ProductKey = contentProduct.ProductDetail.Key,

        ContentId = contentidForChildPage
    };
    <a href="@contentProduct.Url">
        @contentProduct.Name
    </a>
    @contentProduct.ProductDescription
    if (contentProduct.ProductDetail.OnSale)
    {

        <strike> @contentProduct.ProductDetail.Price.ToString("C")</strike>

        @contentProduct.ProductDetail.SalePrice.ToString("C")
    }
    else
    {
        @contentProduct.ProductDetail.SalePrice.ToString("C")
    }

	@Html.Action("Display_BuyButton", "BasketPage", new { product = productitemmodel })
}

